<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_CouponModule::coupon"
             title="coupon"
             translate="title"
             module="Codilar_CouponModule"
             sortOrder="20"
             resource="Codilar_CouponModule::coupon"/>

        <add id="Codilar_CouponModule::view_coupon"
             title="View Coupons"
             translate="title"
             module="Codilar_CouponModule"
             sortOrder="10"
             parent="Codilar_CouponModule::coupon"
             action="coupon/details/index"
             resource="Codilar_CouponModule::view_coupon"/>

        <add id="Codilar_CouponModule::add_coupon"
             title="Add Coupon"
             translate="title"
             module="Codilar_CouponModule"
             sortOrder="11"
             parent="Codilar_CouponModule::coupon"
             action="coupon/details/addcoupon"
             resource="Codilar_CouponModule::add_coupon"/>
    </menu>
</config>